.clearfix::after {
	clear: both;
	content: '';
	display: table;
}

.container {
	margin: auto;
	max-width: 1200px;
}

.small-text {
	font-size: 14px;
}

.hr {
	border-bottom: 1px solid #999;
	margin: 5px 0;
}