.home-products-section {
    padding: 50px 0;

    .products-container {
        display: grid;
		grid-template-columns: 5fr 2fr;
		margin-top: 70px;

		h2 {
			font-size: 1.5rem !important;
			margin-bottom: 35px;
		}

		.left-section {
			padding: 0 35px;

			.products {
				display: grid;
		        grid-template-columns: 1fr 1fr 1fr 1fr;
		        grid-gap: 60px $gutter;
			}
		}

		.right-section {
			padding: 0 20px;
			border-left: 2px solid #e3e3e3;

			.product-card {
				margin-bottom: 15px;
			}
		}
    }
}