.profile-section {
	form {
		width: 50%;

		.hr {
			margin-top: 38px;
		}

		h3 {
			margin: 20px 0 13px;
			font-size: 1.3rem;
		}

		.input-note {
			display: block;
			text-align: center;
			margin-bottom: 15px;
		}
	}
}