.product-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 70px;
    padding: 70px 0;
}

.product-section-images {
    .product-section-main-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        padding: 30px;
        text-align: center;
        height: 300px;

        img {
            opacity: 0;
            transition: opacity .10s ease-in-out;
            max-height: 100%;
        }

        img.active {
            opacity: 1;
        }
    }

    .product-section-thumbnails {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        margin-top: 20px;
        
        .product-section-thumbnail {
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            min-height: 66px;
            cursor: pointer;
            
            &.selected, &:hover {
                border: 1px solid #979797;
            }
        }
    }
}


.product-section-information {
    padding-right: 50px;

    .product-section-first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .product-section-title-badge {
            display: flex;
            align-items: center;

            h2 {
                font-size: 1.7rem;
                margin-right: 30px;
            }
        }

        .heart-item-form button {
            display: flex;
            align-items: center;
            color: #b3b2b2;
            position: relative;

            &:hover > span {
                right: 19px;
                visibility: visible;
                color: $red-light;
            }

            &:hover > i {
                color: $red-light;
            }

            span {
                position: absolute;
                right: 0px;
                visibility: hidden;
                transition: right .4s ease, visibility .1s ease;
                color: #b3b2b2;

                &.add-to-wishlist {
                    width: 120px;
                }

                &.remove-from-wishlist {
                    width: 160px;
                }
            }

            i {
                font-size: 1.9rem !important;
            }
        }
    }

    p {
        margin-bottom: 16px;
    }
}

.product-section-title {
    margin-bottom: 0;
}

.product-section-subtitle {
    font-size: 1.2rem;
    margin-bottom: 16px;
    font-weight: bold;
    color: $text-color-light;
}

.product-section-price {
    font-size: 1.5rem;
    color: $text-color-dark;
    margin-bottom: 16px;
}

.add-to-cart-btn {
    .fa-cart-plus {
        color: $text-color-light;
        font-size: 1.4rem;
    }

    &:hover {
        .fa-cart-plus {
            color: $white;
        }
    }
}