.alert-success {
    color: #155724;
    background-color: #d4edda !important;
    border-color: #c3e6cb;
    padding: 9px 30px;
    font-size: 1rem;
    border: 1px solid #a7ceb0;
}

.validation-error-msg {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    text-align: center;
    font-size: 1rem;
}

.validation-warning-msg {
    border: 1px solid #ffeeba;
    color: #856404;
    background-color: #fff3cd;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    text-align: center;
    font-size: 1rem;
}

.success-session-msg,
.error-session-msg {
    position: fixed;
    top: 109px;
    right: -1000px;
    padding: 15px 45px;
    background: #353b48;
    color: #fff;
    font-weight: normal;
    border-top: 8px solid #4cd137;
    animation: display-msg 5s linear;
    z-index: 100;
}

.error-session-msg {
    border-top: 10px solid $red;
}

@keyframes display-msg {
    5% {
        right: 0;
    }
    90% {
        right: 0;
    }
    95% {
        right: 20px;
    }
    100% {
        right: -1000px;
    }
}
