
.error-msg {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    text-align: center;
    font-size: 18px;
}

.success-msg {
    position: fixed;
    top: 109px;
    right: -1000px;
    padding: 15px 45px;
    background: #353b48;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    border-top: 10px solid #4cd137;
    animation: display-msg 5s linear;
}

@keyframes display-msg {
    5% {
        right: 0;
    }
    90% {
        right: 0;
    }
    95% {
        right: 20px;
    }
    100% {
        right: -1000px;
    }
}
