.breadcrumbs {
    background: $light-gray-background;
    border-bottom: 1px solid $separator-color;
    padding: 14px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;

        .visited {
            color: #668;
        }

        .breadcrumb-separator {
            font-size: 10px;
            color: lighten($text-color, 30%);
        }

        .breadcrumbs-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
