.search-form {
    position: relative;

    input {
        width: 400px;
        background: #fafafa;
        border: 1px solid #a2a2a2;
        color: #535353;
        padding: 12px 30px;
        border-radius: 50px;
    }

    button {
        position: absolute;
        right: 2px;
        padding: 18px;
        top: -9px;
        font-size: 1.5rem;
        background: transparent;
        color: #b0b0b0;
        transform: rotateY(180deg);
 
        &:hover {
            color: darken(#b0b0b0, 20%);
        }
    }
}