html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

a:hover {
  color: #878787;
}

.logo a {
  color: #e9e9e9;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.breadcrumb-separator {
  margin: 0 6px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  margin: auto;
  max-width: 1200px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
.product-section-subtitle,
.product-section-price {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  line-height: 1.2;
}

h1.stylish-heading {
  margin-bottom: 60px;
  position: relative;
}

h1.stylish-heading:before,
h1.stylish-heading:after {
  position: absolute;
  top: -4px;
  left: 0;
  width: 66px;
  height: 1px;
  background: #212121;
  content: "";
  display: block;
}

h1.stylish-heading:after {
  bottom: -14px;
  top: auto;
}

h2 {
  font-size: 22px;
}

.text-center {
  text-align: center;
}

.spacer {
  margin-bottom: 30px;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.breadcrumbs {
  background: #F5F5F5;
  border-bottom: 1px solid #CDCDCD;
  padding: 24px 0;
}

.breadcrumbs .breadcrumb-separator {
  font-size: 14px;
  color: #545454;
}

.breadcrumbs .breadcrumbs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: 1px solid #212121;
  padding: 12px 40px;
}

.button:hover {
  color: #e9e9e9;
  background: #212121;
}

.button-white {
  border: 1px solid #e9e9e9;
  color: #e9e9e9 !important;
}

.button-white:hover {
  color: #212121 !important;
  background: #e9e9e9;
}

.button-primary {
  background: #3EBFA4;
  color: white !important;
  padding: 12px 40px;
}

.button-primary:hover {
  background: #35a48d;
}

.button-primary:disabled {
  background: #63cdb7;
  cursor: not-allowed;
}

.button-plain {
  border: 1px solid #212121 !important;
  background: transparent;
}

.button-container {
  margin: 80px 0;
}

.section-description {
  width: 80%;
  margin: 44px auto;
}

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 16px;
}

.sidebar ul {
  line-height: 2;
  margin-bottom: 20px;
}

.might-like-section {
  padding: 40px 0 70px;
  background: #F5F5F5;
}

.might-like-section h2 {
  padding-bottom: 30px;
}

.might-like-section .might-like-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.might-like-section .might-like-product {
  border: 1px solid #979797;
  background: white;
  padding: 30px 0 20px;
  text-align: center;
}

.might-like-section .might-like-product img {
  width: 70%;
}

.might-like-section .might-like-product-price {
  color: #919191;
}

form .half-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

form button[type=submit] {
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.6;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

header.with-background {
  background: url("/img/triangles.svg");
  background-size: cover;
  color: #e9e9e9;
}

header.with-background .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  letter-spacing: 1.5px;
}

header.with-background .top-nav .logo {
  font-weight: bold;
  font-size: 28px;
}

header.with-background .top-nav ul a {
  color: #e9e9e9;
}

header.with-background .top-nav ul a:hover {
  color: #d0d0d0;
}

header.with-background .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 84px;
}

header.with-background .hero .hero-image {
  padding-left: 60px;
}

header.with-background .hero h1 {
  font-size: 52px;
  margin-top: 50px;
}

header.with-background .hero p {
  margin: 40px 0 68px;
}

header.with-background .hero .button {
  margin-right: 14px;
}

header {
  background: #535353;
}

header .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  letter-spacing: 1.5px;
}

header .top-nav .logo {
  font-weight: bold;
  font-size: 28px;
  color: #e9e9e9;
  margin-right: 58px;
}

header .top-nav ul {
  display: flex;
  text-transform: uppercase;
  font-weight: 400;
}

header .top-nav ul li {
  margin-right: 38px;
  display: flex;
  align-items: center;
}

header .top-nav ul li:last-child {
  margin-right: 0;
}

header .top-nav ul li i {
  font-size: 35px;
}

header .top-nav ul li a {
  display: flex;
  align-items: center;
}

header .top-nav ul li a span {
  margin-left: 4px;
}

header .top-nav ul a {
  color: #e9e9e9;
}

header .top-nav ul a:hover {
  color: #d0d0d0;
}

header .top-nav ul .cart-count {
  display: inline-block;
  background: #FFD94D;
  color: #212121;
  line-height: 0;
  border-radius: 50%;
  font-size: 14px;
}

header .top-nav ul .cart-count span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 6px;
  margin-right: 6px;
}

header .top-nav-left {
  display: flex;
}

header .top-nav-right {
  display: flex;
  align-items: center;
}

footer {
  background: #535353;
  color: #e9e9e9;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content .heart {
  color: #FFBABA;
}

.footer-content ul {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.footer-content a {
  color: #e9e9e9;
}

.featured-section {
  padding: 50px 0;
}

.featured-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px 30px;
}

.featured-section .products .product-price {
  color: #919191 !important;
}

.blog-section {
  background: #F5F5F5;
  border-top: 1px solid #CDCDCD;
  padding: 50px 0;
  grid-area: blog-section;
}

.blog-section .blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 60px 0 60px;
  grid-template-areas: "blog1 blog2 blog3";
}

.blog-section .blog-posts #blog1 {
  grid-area: blog1;
}

.blog-section .blog-posts #blog2 {
  grid-area: blog2;
}

.blog-section .blog-posts #blog3 {
  grid-area: blog3;
}

.products-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 80px auto 80px;
}

.products-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 30px;
}

.products-section .products .product-price {
  color: #919191;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
  padding: 100px 0 120px;
}

.product-section .selected {
  border: 1px solid #979797;
}

.product-section-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.product-section-thumbnail {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  min-height: 66px;
  cursor: pointer;
}

.product-section-thumbnail:hover {
  border: 1px solid #979797;
}

.product-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  padding: 30px;
  text-align: center;
  height: 400px;
}

.product-section-image img {
  transition: opacity 0.1s ease-in-out;
  max-height: 100%;
}

.product-section-information p {
  margin-bottom: 16px;
}

.product-section-title {
  margin-bottom: 0;
}

.product-section-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #919191;
}

.product-section-price {
  font-size: 38px;
  color: #212121;
  margin-bottom: 16px;
}

.cart-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 60px auto;
}

.cart-section h2 {
  margin-bottom: 30px;
}

.cart-section .cart-table-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.cart-section .cart-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.cart-section .cart-table-row .cart-table-row-left,
.cart-section .cart-table-row .cart-table-row-right {
  display: flex;
  justify-content: space-between;
}

.cart-section .cart-table-row .cart-table-row-left {
  width: 50%;
}

.cart-section .cart-table-row .cart-table-row-right {
  width: 33%;
  padding-top: 10px;
}

.cart-section .cart-table-row .cart-table-img {
  max-height: 75px;
}

.cart-section .cart-table-row .cart-table-actions {
  text-align: right;
  font-size: 14px;
}

.cart-section .cart-table-row .cart-item-details {
  padding-top: 5px;
}

.cart-section .cart-table-row .cart-table-description {
  color: #919191;
}

.cart-section .cart-table-row .cart-options {
  color: #212121;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}

.cart-section .cart-table-row .cart-options:hover {
  color: #6e6e6e;
}

.cart-section .cart-totals {
  margin: 30px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #F5F5F5;
}

.cart-section .cart-totals .cart-totals-left {
  width: 50%;
}

.cart-section .cart-totals .cart-totals-right {
  display: flex;
  justify-content: space-between;
  width: 35%;
  text-align: right;
}

.cart-section .cart-totals .cart-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
}

.cart-section .cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cart-section .have-code {
  display: block;
  margin: 14px 0;
  text-align: right;
}

.cart-section .have-code-container {
  border: 1px solid #919191;
  padding: 16px;
  width: 50%;
  margin-left: auto;
}

.cart-section .have-code-container form {
  display: flex;
  justify-content: space-between;
}

.cart-section .have-code-container input[type=text] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

.cart-section .have-code-container input[type=submit] {
  background: white;
  border: 1px solid #919191;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cart-section .have-code-container input[type=submit]:hover {
  background: #212121;
}

h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px auto 80px;
}

.checkout-section .checkout-table-container {
  margin-left: 124px;
}

.checkout-section h2 {
  margin-bottom: 28px;
}

.checkout-section .checkout-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.checkout-section .checkout-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.checkout-section .checkout-table-row .checkout-table-row-left,
.checkout-section .checkout-table-row .checkout-table-row-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-section .checkout-table-row .checkout-table-row-left {
  width: 75%;
}

.checkout-section .checkout-table-row .checkout-table-img {
  max-height: 60px;
}

.checkout-section .checkout-table-row .checkout-table-description {
  color: #919191;
}

.checkout-section .checkout-table-row .checkout-table-price {
  padding-top: 6px;
}

.checkout-section .checkout-table-row .checkout-table-quantity {
  border: 1px solid #919191;
  padding: 4px 12px;
  margin-right: 5px;
}

.checkout-section .checkout-totals {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #919191;
  padding: 18px 0;
  line-height: 2;
}

.checkout-section .checkout-totals .checkout-totals-right {
  text-align: right;
}

.checkout-section .checkout-totals .checkout-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2.2;
}

/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/

.StripeElement {
  background-color: white;
  padding: 16px 16px;
  border: 1px solid #ccc;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}

.thank-you-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.thank-you-section h1 {
  margin-bottom: 10px;
}

