header.with-background {
    background: url('/images/triangles.svg');
    background-size: cover;
    color: $white;

    .top-nav {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      letter-spacing: 1.5px;

      .logo {
        font-weight: bold;
        font-size: 28px;
      }

      ul {
        a {
          color: $white;
          &:hover {
            color: darken($white, 10%);
          }
        }
      }
    }

    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr; //repeat(2, 1fr)
      grid-gap: $gutter;
      padding-top: 20px;
      padding-bottom: 84px;
      margin-top: 15px;

      .hero-image {
        padding-left: 60px;
      }

      h1 {
        font-size: 4rem;
        margin-top: 50px;
      }

      p {
        margin: 40px 0 68px;
      }

      .hero-buttons {
        text-align: center;
        
        .button {
          font-weight: normal;
        }
      }
    }
  }

  header {
    background: $gray-background;

    .top-nav {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      letter-spacing: 1.5px;

      .logo {
        font-weight: bold;
        font-size: 28px;
        color: $white;
        margin-right: 58px;
      }

      ul {
        display: flex;
        // justify-content: space-between;
        // width: 40%;
        // padding-top: 8px;
        font-weight: 400;

        &.nav-left {
          margin-right: auto;
        }

        li {
          margin-right: 38px;
          display: flex;
          align-items: center;

          &:last-child {
            margin-right: 0;
          }

          a {
            position: relative;
            display: flex;
            align-items: center;
            color: $white;

            &:hover {
              color: darken($white, 10%);
            }

            i {
              font-size: 2rem;
            }

            .cart-count, .wishlist-count {
              background: $red;
              color: #eee;
              border-radius: 50%;
              font-size: .9rem;
              position: absolute;
              right: -13px;
              top: -13px;
              font-weight: bold;
              height: 1.6rem;
              width: 1.6rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
