$text-color: #535353;
$text-color-dark: #333;
$text-color-light: #919191;
$white: #e9e9e9;
$gray-background: #535353;
$light-gray-background: #f7f7f7c7;
$separator-color: #CDCDCD;
$heart: #FFBABA;
$blank-heart: #c0c0c0;
$cart-count: #FFD94D;
$red-light: #f78690;
$red: #f95e6c;
$red-dark: #e23443;
$green: #28a745;
$green-dark: #44bd32;
$blue-light: #459ffe;
$blue: #2a8ffa;
$blue-dark: #0589ce;
$border-color: #dfdfdf;
$border-color-dark: #b3b3b3;
// $sidebar-border-color: #dfdfdf;
// $input-border-color: #d5d5d5;
// $input-border-focus-color: #959595;
$input-note-color: #f3b279;

$gutter: 30px;

